main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-style: italic;
    font-size: larger;
    font-weight: 600;
    color: #fff;
    margin: 1em 0;
}

.intro, .prelude {
    margin: 1em 0;
    width: 70%;
    color: #fff;
    text-align: justify;
    
}

video, img {
    margin: 1em 0;
}

iframe {
    margin-top: 1em;
}