main {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-size: 2.5em;
    font-weight: 500;
    color: #f9f9f9;
    margin: .5em 0 .5em 1em;
}

.musica {
    color: #fff;
    margin-bottom: 5px;
}